@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* tamanho máximo pra tablets */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 100vh;

        /* TODO: adicionar esse css reset num css global */
        font-family:
            "Inter", sans-serif;
        font-optical-sizing: auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .containerWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        /* TODO: adicionar o blur */
        background: #6c55d2;
        background: radial-gradient(
            circle,
            rgba(108, 85, 210, 1) 0%,
            rgba(4, 4, 4, 1) 36%
        );
    }
}
